/node_modules
/public/hot
/public/images/categories
/public/storage
/public/old_sitemaps
/storage/*.key
/public/sitemap*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/images/business/
